nav{
    background: rgba(0,0,0,0.2);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover{
    color: var(--color-primary);
    background: rgba(0,0,0,0.4);
}

nav a.active{
    color: var(--color-primary);
    background: rgba(0,0,0,0.4);
}

/* ======== MEDIA QUERIES (MEDIUM DEVICES)  =======*/
@media screen and (max-width: 1024px) {
    
}

/* ======== MEDIA QUERIES (SMALL DEVICES)  =======*/
@media screen and (max-width: 600px) {
    nav{
        width: 100%;
        bottom: 0;
        border-radius: 1.5rem 1.5rem 0 0;
        background: var(--color-primary);
    }

    nav a{
        font-size: 1.5rem;
    }

    nav a.active{
        background: var(--color-bg);
    }
}